<footer>
  <div class="text">
    <div class="logo">
      <h2>mohamed</h2>
      <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Molestiae ipsum
        facere voluptatibus sint, architecto est aspernatur fugiat, repellat
        vero eligendi accusantium nulla corrupti, totam eaque deserunt tempora?
        Eos, voluptate ea!
      </p>
    </div>
    <p>
      Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat fugiat
      amet maiores unde aspernatur. Eius enim ad reiciendis vero inventore illum
      repellat, quaerat non nam, accusamus amet? Quaerat, perferendis nesciunt?
    </p>
  </div>
  <p>&copy; 2024</p>
</footer>
