<div class="gallery">
  <div class="container">
    <div class="box">
      <img src="../../assets/team/team-01.jpg" alt="" />
      <button type="button" class="thebtn">show</button>

      <div class="desc">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
          excepturi, quis numquam a voluptate nam asperiores fuga commodi
          quaerat. Quia nostrum alias dolores porro error quaerat nisi animi
          impedit soluta.
        </p>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/team/team-02.jpg" alt="" />
      <button type="button" class="thebtn">show</button>

      <div class="desc">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
          excepturi, quis numquam a voluptate nam asperiores fuga commodi
          quaerat. Quia nostrum alias dolores porro error quaerat nisi animi
          impedit soluta.
        </p>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/team/team-03.jpg" alt="" />
      <button type="button" class="thebtn">show</button>

      <div class="desc">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
          excepturi, quis numquam a voluptate nam asperiores fuga commodi
          quaerat. Quia nostrum alias dolores porro error quaerat nisi animi
          impedit soluta.
        </p>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/team/team-04.jpg" alt="" />
      <button type="button" class="thebtn">show</button>

      <div class="desc">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
          excepturi, quis numquam a voluptate nam asperiores fuga commodi
          quaerat. Quia nostrum alias dolores porro error quaerat nisi animi
          impedit soluta.
        </p>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/team/team-05.png" alt="" />
      <button type="button" class="thebtn">show</button>

      <div class="desc">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
          excepturi, quis numquam a voluptate nam asperiores fuga commodi
          quaerat. Quia nostrum alias dolores porro error quaerat nisi animi
          impedit soluta.
        </p>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/team/team-06.png" alt="" />
      <button type="button" class="thebtn">show</button>

      <div class="desc">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
          excepturi, quis numquam a voluptate nam asperiores fuga commodi
          quaerat. Quia nostrum alias dolores porro error quaerat nisi animi
          impedit soluta.
        </p>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/team/team-07.jpg" alt="" />
      <button type="button" class="thebtn">show</button>

      <div class="desc">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
          excepturi, quis numquam a voluptate nam asperiores fuga commodi
          quaerat. Quia nostrum alias dolores porro error quaerat nisi animi
          impedit soluta.
        </p>
      </div>
    </div>
    <div class="box">
      <img src="../../assets/team/team-08.jpg" alt="" />
      <button type="button" class="thebtn">show</button>

      <div class="desc">
        <p>
          Lorem ipsum dolor sit, amet consectetur adipisicing elit. Placeat
          excepturi, quis numquam a voluptate nam asperiores fuga commodi
          quaerat. Quia nostrum alias dolores porro error quaerat nisi animi
          impedit soluta.
        </p>
      </div>
    </div>
  </div>
  <div class="show" id="show">
    <button>{{ stateoftheallshow ? "show" : "hide" }}</button>
  </div>
</div>
